/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#include "34_labels.h"
#include "italian_keys.h"

#define TAPPING_TERM 200
#define TAPPING_TERM_RING 250
#define TAPPING_TERM_PINKY 300
#define QUICK_TAP_TERM 300

#define XXX &none
#define ___ &trans

#define AS(keycode) &as LS(keycode) keycode
#define HR0 &hr LCTL A

/ {
     macros {
        hras: to_home_row {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &hrrt LCTL LS(A)>;
        };
     };
     behaviors {
        as: auto_shift {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
        hr: home_row {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <TAPPING_TERM>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&hras>, <&kp>;
        };
        hrrt: home_row_retro_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <0>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
            retro-tap;
        };
     };
     keymap {
          compatible = "zmk,keymap";
          // default {
          //      bindings = <
          //      // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
          //           AS(Q)         AS(W)         AS(E)         AS(R)          AS(T)            AS(Y)         AS(U)         AS(I)         AS(O)         AS(P)
          //      // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
          //           HR0           HR1           HR2           HR3            AS(G)              AS(H)       HR6           HR7           HR8           HR9
          //      // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
          //           AS(Z)         AS(X)         AS(C)         AS(V)         AS(B)              AS(N)        AS(M)         AS(COMMA)     AS(DOT)       AS(IT_SLASH)
          //      // ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
          //                                                     XXX           &lt NAV SPACE     &kp BSPC      XXX       
          //      //                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
          //      >;
          // };


          // navigation {
          //      bindings = <
          //      // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
          //           XXX           XXX           XXX           XXX           XXX               XXX           XXX           XXX           XXX           XXX
          //      // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
          //           &kp LG(LEFT) XXX           XXX           XXX           XXX               &kp LEFT      &kp DOWN      &kp UP        &kp RIGHT     &kp LG(RIGHT)
          //      // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
          //           XXX           XXX           XXX           XXX           XXX               XXX           XXX           XXX           XXX           XXX
          //      // ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
          //                                                     XXX           XXX               XXX           XXX       
          //      //                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
          //      >;
          // };

          // number {
          //      bindings = <
          //      // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
          //           XXX           XXX           XXX           XXX           XXX               XXX           XXX           XXX           XXX           XXX
          //      // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
          //           XXX           XXX           XXX           XXX           XXX               XXX           XXX           XXX           XXX           XXX
          //      // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
          //           XXX           XXX           XXX           XXX           XXX               XXX           &kp N1        XXX           XXX           XXX
          //      // ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
          //                                                     XXX           XXX               XXX           XXX       
          //      //                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
          //      >;
          // };

          default {
               bindings = <
               // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                    AS(Q)         XXX           XXX           XXX           XXX               XXX           XXX           XXX           XXX           XXX
               // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                    HR0           XXX           XXX           XXX           XXX               XXX           XXX           XXX           XXX           XXX
               // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                    XXX           XXX           XXX           XXX           XXX               XXX           XXX           XXX           XXX           XXX
               // ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
                                                              XXX           XXX               XXX           XXX       
               //                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
               >;
          };

     };
};
