/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "general.dtsi"

#include "aliases.dtsi"
#include "behaviors.dtsi"
#include "combos.dtsi"

ZMK_LAYER(default,
     // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
          AS(Q)         &kp W         &kp E         &kp R         &kp T             &kp Y         &kp U         &kp I         &kp O         &kp P
     // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
          L_G(A)        L_A(S)        L_C(D)        L_S(F)        &kp G             &kp H         R_S(J)        R_C(K)        R_A(L)        R_G(IT_SEMI)
     // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
          &kp Z         &kp X         &kp C         &kp V         &kp B             &kp N         &kp M         &kp COMMA     &kp DOT       &kp IT_SLASH
     // ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
                                                    XXX           &lt NAV SPACE     &kp BSPC      XXX       
     //                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
)

ZMK_LAYER(navigation,
     // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
          XXX           XXX           XXX           XXX           XXX               XXX           XXX           XXX           XXX           XXX
     // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
          &kp LG(LEFT) XXX           XXX           XXX           XXX               &kp LEFT      &kp DOWN      &kp UP        &kp RIGHT     &kp LG(RIGHT)
     // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
          XXX           XXX           XXX           XXX           XXX               XXX           XXX           XXX           XXX           XXX
     // ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
                                                    XXX           XXX               XXX           XXX       
     //                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
)

ZMK_LAYER(number,
     // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
          XXX           XXX           XXX           XXX           XXX               XXX           XXX           XXX           XXX           XXX
     // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
          XXX           XXX           XXX           XXX           XXX               XXX           XXX           XXX           XXX           XXX
     // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
          XXX           XXX           XXX           XXX           XXX               XXX           &kp N1           XXX           XXX           XXX
     // ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
                                                    XXX           XXX               XXX           XXX       
     //                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
)

ZMK_LAYER(empty,
     // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
          XXX           XXX           XXX           XXX           XXX               XXX           XXX           XXX           XXX           XXX
     // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
          XXX           XXX           XXX           XXX           XXX               XXX           XXX           XXX           XXX           XXX
     // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
          XXX           XXX           XXX           XXX           XXX               XXX           XXX           XXX           XXX           XXX
     // ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
                                                    XXX           XXX               XXX           XXX       
     //                                           ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
)
